
.class-accordion{

  ul{
    list-style:none;
    li{
      @include transition(left 0.8s ease-in-out);
      input{
        &:checked{
          ~ .accordion-desc{
            height:100px;
          }
        }
      }
      .accordion-desc{
        height:0;
        overflow: hidden;
        @include transition(all 0.8s ease-in-out);
      }
    }
  }
}